.topnav {
  overflow: hidden;
  background-color: #090909;
  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav img {
  float: left;
}

.emptySpace {
  display: block;
  height: 80px;
}

.product {
  display: inline-block;
  width: 50%;
  min-height: 200px;
  border: 2px solid black;
  padding: 4px 8px 4px 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1400px){
  .product {
    width: 80%;
    min-height: 300px;
  }
}

.product img {
  display: block;
  float: left;
}

.product a {
  display: inline-block;
  padding: 2px 8px;
}

.product .name {
  font-size: 32px;
  font-weight: bold;
}

.product .price {
  float: right;
  font-weight: bolder;
}

.product .description {
  text-align: justify;
  display: flex;
}

.product .right {
  float: right;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 20px;
}

.product .category {
  display: block;
  font-weight: 500;
}

.product .stock {
  display: block;
  font-size: 16px;
}

.quantity{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.quantity .amount {
  display: block;
}

.quantity .number {
  display:block;
  font-size: 30px;
  margin-top: -15%;
}

.quantity .subtotal {
  display: block;
  font-size: 20px;
  margin-top: 20px;
}

#logout {
  .transition: .5s;
  min-width: 200px;
  max-width: 350px;
}

#logout:hover span {
  display: none;
}

#logout:hover:before {
  content: "Logout?"
}

.hidden {
  display: none;
}

#logo {
  cursor: pointer;
}

.address {
  width: 11%;
  margin-right: 10%;
  float: right;
}

.address .addressTitle {
  font-weight: bolder;
  font-size: 20px;
  margin: 5px;
  display: block;
}

.address a{
  font-weight: bold;
}
