.topnav {
  overflow: hidden;
  background-color: #090909;
  text-align: right;
  position: sticky;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav img {
  float: left;
}

.topnav span {
  padding-top: 5px;
  float: right;
}

.topnav p{
  float: left;
  vertical-align: middle;
  font-size: 22px;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  display: inline-block;
  padding: 6px;
  border: none;
  margin-top: 16px;
  margin-right: 30%;
  font-size: 22px;
  width: 33%;
}

.topnav .cartNumber{
  color: black;
  font-weight: bold;
  text-align:center;
  border: 2px solid blue;
  background-color: lightblue;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  position: absolute;
  margin-top: 30px;
  margin-left: -20px;

}


/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 160px; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 left: 0;
 background-color: #090909; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
 padding: 8px 8px 8px 10px;
 cursor: pointer;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 margin-left: 160px;
 padding: 20px;
}

.productJS {
  display: inline-block;
  width: 80%;
  border: 2px solid black;
  padding: 4px 8px 4px 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1400px){
  .productJS {
    width: 100%;
    min-height: 300px;
  }
}

.productJS img {
  display: block;
  float: left;
  border-right: 4px solid black;
}

.productJS .top {
  border-bottom: 2px solid black;
}

.productJS a {
  display: inline-block;
  padding: 2px 8px;
}

.productJS .name {
  font-size: 32px;
  font-weight: bold;
}

.productJS .price {
  float: right;
  font-weight: bolder;
}

.productJS .description {
  text-align: justify;
  display: flex;
}

.productJS .right {
  float: right;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 12%
}

.productJS .category {
  display: block;
  font-weight: 500;
}

.productJS .stock {
  display: block;
  font-size: 16px;
}

.productJS .addcart {
  float: right;
  border: 2px solid #e0b155;
  box-shadow: #696969 2px 2px;
  border-radius: 20px;
  background-color: #ebf453;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

.productJS .addcart:hover{
  transition: 0.2s;
  border-color: #936500;
  background-color: orange;
}

#logout {
  .transition: .5s;
  min-width: 200px;
  max-width: 350px;
}

#logout:hover span {
  display: none;
}

#logout:hover:before {
  content: "Logout?"
}

.hidden {
  display: none;
}

.categoryFilter {
  display: block;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  margin-bottom: 1%;
  max-width: 150px;
  background-color: #d2a92c;
  font-weight: bold;
  vertical-align: baseline;
}

.categoryFilter .delete{
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 1000;
  font-size: 18px;
  vertical-align: baseline;
}

#cart {
  cursor: pointer;
  vertical-align: middle;
  padding: 10px;
  filter: invert(83%) sepia(96%) saturate(0%) hue-rotate(30deg) brightness(111%) contrast(103%);
}

#cart:hover {
  transition: .2s;
  filter: invert(76%) sepia(56%) saturate(2133%) hue-rotate(226deg) brightness(105%) contrast(101%);
}

#user {
  cursor: pointer;
  vertical-align: middle;
  padding: 10px;
  filter: invert(83%) sepia(96%) saturate(0%) hue-rotate(30deg) brightness(111%) contrast(103%);
}

#user:hover {
  transition: .2s;
  filter: invert(76%) sepia(56%) saturate(2133%) hue-rotate(226deg) brightness(105%) contrast(101%);
}

.productJS img:hover {
  opacity: 100%;
}
